%ul.socials
  %li.social.rss= link_to "RSS"
  %li.social.twitter= link_to "Twitter", 'http://www.twitter.com/rubymadesimple'
  %li.social.github= link_to "Github", 'https://github.com/hybridgroup/rubymadesimple'
