/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "compass/reset";
@import "compass";
@import "icons/*.png";
$icons-sprite-dimensions: true;
@include all-icons-sprites;

$color-gray: #a7a4a4;
$color-red: #a7000e;

a {
  color: lighten($color-red, 10%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: Helvetica;
  margin: 0px;
}

.container {
  @include pie-clearfix;
  margin: 0px auto;
  width: 860px;
}

.page-header {
  @include pie-clearfix;

  background: #eee image-url("colorbar.png") repeat-x top;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6dcdf;
  margin-bottom: 40px;
  padding: 40px 0px 30px;
}

.page-navigation {
  float: right;
  margin-top: 10px;
}

.navigation-items {
  list-style: none;
  .item {
    float: left;
    font-size: 18px;
    display: block;
    margin-left: 45px;
    &.active {
      a {
        color: $color-red;
      }
    }
    a {
      color: $color-gray;
      text-decoration: none;
    }
  }
}

.logo {
}

.page-copyright {
  @include pie-clearfix;
  background-color: #fff;
  padding: 20px;

  .rights {
    float: left;
    color: lighten($color-gray, 10%);
    margin-right: 30px;
  }

  .links {
    float: left;

    .link {
      float: left;
      margin-right: 20px;
      a {
        color: #333;
        font-size: 11px;
      }
    }
  }

  .logo-hybridgroup {
    float: right;
  }
}
.page-footer {
  @include pie-clearfix;

  border-top: 1px solid #e2e6e9;
  border-bottom: 1px solid #e2e6e9;
  background: #f0f1f4;
  clear: both;
  margin-bottom: 10px;
  margin-top: 50px;
  padding: 30px 0px;

  .links-title {
    color: lighten($color-red, 10%);
  }

  .link {
    a {
      color: $color-gray;
      font-size: 11px;
    }
  }

  .sitemap {
    float: left;
    margin-right: 65px;
  }
}

.page-main {
  float: left;
  margin-bottom: 50px;
  width: 496px;
}

.page-sidebar {
  float: right;
  width: 300px;

  .module-title {
    background: #fff image-url("colorbar.png") no-repeat 110px 7px;
    color: lighten($color-red, 20%);
    font-size: 18px;
    padding-bottom: 25px;
  }

  .module {
    margin-bottom: 20px;
  }

}

.videos {
  .video {
    @include pie-clearfix;

    border-bottom: 1px solid lighten($color-gray, 20%);
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .thumbnail {
    background-color: #fff;
    border: 1px solid #e1e2e3;
    float: left;
    padding: 3px;
    margin-right: 12px;
    margin-bottom: 15px;
  }

  .video-details {
    color: lighten($color-red, 10%);
    font-size: 12px;
    margin-bottom: 5px;
  }

  .video-length {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .video-description {
    color: #333;
    font-size: 12px;
    line-height: 16px;
  }

  .featured {
    .thumbnail {
      float: none;
      padding: 8px;
    }

    .video-details,
    .video-length,
    .video-description {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .video-title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    a {
      color: $color-red;
    }
  }

  .video-actions {
    margin: 20px 0px 0px;
  }
}


.search {
  input {
    @include border-radius(3px);
    @include box-shadow(rgba(#000000, 0.2) 1px 2px 11px 0px inset);

    border: 1px solid #b2c4d4;
    font-size: 14px;
    margin-top: 30px;
    padding: 10px 7px;
    width: 100%;
  }
}


.categories-module {
  display: none;
}


.categories {
  @include pie-clearfix;

  .category {
    float: left;
    font-weight: 300;
    margin-bottom: 3px;
    margin-right: 10px;
    width: 145px;
    &:nth-child(2n+2) {
      margin-right: 0px;
    }
    a {
      color: #333;
    }
  }
}

.advertising {
  .ad-300 {
    margin-bottom: 10px;
  }
}


// rails stuff
.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.social-sites {
  @include pie-clearfix;

}

.socials {
  @include pie-clearfix;

  float: right;

  .social {
    float: left;
    margin-left: 10px;
    text-indent: -9999px;
  }

  @each $type in rss, facebook, twitter, gplus {
    .#{$type} {
      @extend .icons-#{$type};
    }
  }
}
